API_ID= 7217645
API_HASH= 78ba6352dd5cdc166fdef5aa84ba7c67
BOT_TOKEN= 2100096282:AAGisj7MdXcXXRD-DmJ2ix8E-FmbrUNVtEM
LOG_GROUP_ID= -1001564289796
MONGO_DB_URI= mongodb+srv://DARKAMAN:DARKAMAN@cluster0.snqhn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
MUSIC_BOT_NAME= Fantastic
OWNER_ID= 1793699293
STRING_SSESSION= BQAV-QFdjnrSVh1VBreRh3L86RjoeXIA1oTAkYZaMdav5utBjofyKpAFc3guiR6B0XfEz9eAOX_cBk9KorRrXG2OfoRTfiJfACNl4q3k1FgEO85FFhbU5WGP9IBZU4G-yEKxSss343sKhKtM9pcF-2gABGuseQj9eJvWdf3xx7MSyU_Te33YguKhgPRPSEFdqeoJnJ1wB6yvzl4t6UwK45OgEunpXtdak5omJkaefMw4ef6ov4wK81E0pNZqQGgyFXIyuymWmgZLOTDNIQ8vbiXhGeH6sHDW2NQ-D8zJL3-X4CcFZi2h7O6smh2WoPKilj0V1mvTcxGQ9xbCqoOplMTKAAAAAUK509kA
